body{
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    background:#111;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    text-align:center;
}
button{
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
}