*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    height:100vh;
    background: linear-gradient( 135deg,#1f1c2c,#928dab);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.weather-card{
    background:rgba(0,0,0,0.4);
    padding: 25px 30px;
    border-radius: 16px;
    width:320px;
    text-align:center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.title{
    margin-bottom:20px;
    font-size: 22px;
}
.input-group{
    display:flex;
    gap:8px;
    margin-bottom:20px;
}
.input-group input{
    flex:1;
    padding:10px 10px;
    border-radius: 8px;
    border:none;
    font-size: 14px;
    outline:none;
}
.input-group button {
  padding: 10px 10px;
  border-radius: 8px;
  border: none;
  background: #ff9800;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.input-group button:hover{
    background:#ffb74b;
}
.result h3{
    margin-bottom: 10px;
    font-size:20px;
}
.result p{
    font-size:16px;
    margin: 6px 0;
}