body{
    background:#222;
    color: white;
    font-family:Arial;
}
.container{
    width: 310px;
    margin:80px auto;
    background:#333;
    padding: 40px;
    border-radius:10px;
}
input{
    width:100%;
    margin-bottom:10px;
    padding:8px;
    border-radius: 5px;
    border: none;
}
button{
    width: 105%;
    padding: 10px;
    background:green;
    color:white;
    border:none;
    border-radius: 5px;
}
ul{
    margin-top: 20px;
}