body{
    margin:0px;
    height:100vh;
    background:black;
    color:white;
    font-family:times;
    display:flex;
    align-items:center;
    justify-content:center;
}
.todo-container{
    width:260px;
    padding:20px;
    background:#222;
    border-radius:10px;
}
input{
    width:100px;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
}
button {
  width: 100;
  padding: 10px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

li {
  background: #333;
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
.deleteBtn {
  background: #e11d48;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}
