*{
  box-sizing:border-box
}
body{
  margin:0;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:arial;
  background:#315285;
  color: #e6eef8;
}
.container{
  width:430px;
  padding:30px;
  background:#162033;
  border-radius:8px;
  box-shadow:0 8px 30px rgba(124, 17, 17, 0.6)
}
input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius: 6px;
  border:none;
}
button{
  padding:10px 12px;
  margin-right:8px;
  border-radius:6px;
  border:none;
  cursor:pointer;
}
#addBtn{
  background:#446ec7;
  color:white;
}
#clearBtn{
  background:#ef4444;
  color:white;
}
ul{
  list-style:none;
  padding:0;
  margin-top:12px;
  max-height:300px;
  overflow:auto;
}
li{
  display:flex;
  justify-content:space-between;
  background:#071025;
  padding:10px;
  border-radius:6px;
  margin-bottom:8px;
}
.deleteBtn{
  background:transparent;
  border:1px solid #f97316;
  color:#f97316;
  padding:6px 8px;
  border-radius:6px;
  cursor:pointer;
}