body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:90vh;
    background:radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color:rgba(228, 188, 188, 0.892);
}
.container{
    text-align:center;
    padding:25px 30px;
    background:#1d053093;
    border-radius:16px;
    width:350px;
    box-shadow:  0 10px 30px rgba(255, 10, 10, 0.4);
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
    margin-bottom:15px;
}
input{
    width:300px;
    padding:10px 15px;
    border-radius: 8px;
    border:2px solid rgba(202, 120, 120, 0.593);
    outline:none;
    margin-bottom:10px;
}
button{
    width:100;
    padding:10px;
    border-radius:8px;
    border:2px solid rgba(202, 120, 120, 0.593);
    color: rgb(167, 134, 134);
    font-weight:600;
    cursor:pointer;
    margin-bottom:15px;
}
button:hover{
    background:rgba(255, 43, 43, 0.956);
}
#notesList{
    list-style:none;          /* remove bullets */
    padding:0;
    margin-top:10px;
    max-height:200px;         /* scroll if many notes */
    overflow-y:auto;
}
#notesList li{
    background:rgba(255,255,255,0.15);
    padding:10px;
    margin-bottom:8px;
    border-radius:8px;
    font-size:14px;
    text-align:left;
    word-wrap:break-word;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#notesList button{/*For Delete Button*/
    background:rgba(134, 70, 70, 0.342);
    border:none;
    font-size:16px;
    cursor:pointer;
}